*,
::before,
::after {
    box-sizing: inherit;
}
/* body design and color */
body {
    background-color: #2F4F4F;
}
/* body design end */

/* navigation design */
.navigation{
    position: fixed;
}

.navbar {
    background-color: #2F4F4F;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    top: 0px;
}

.navr {
    display: flex;
    flex-direction: row;
    width: auto;
    position: fixed;
    top: 20px;
}

.navl {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: right;
}

.nav {
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
    font-size: 20px;
}

#logo {}
/* navigation design ends */

/* social links */
.navsocial {
    position: fixed;
    bottom: 0px;
    width: 40px;
    z-index: 5;
}

.social {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.slinks {
    padding-top: 5px;
}

.links img {
    width: 20px;
    height: 20px;
}

#line {
    height: 120px;
}
/* social links designing ends */

/* right side mail design */
.outermail {
    position: fixed;
    bottom: 0;
    right: 5px;
    width: 40px;
    z-index: 5;
}

.email {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin: 0;
}

.emtext {
    writing-mode: vertical-rl;
    text-decoration: none;
    color: aliceblue;
}
/* right side email design ends */

/* content design */
/* section common designs */
.main,
.secabt,
.secprojct {
    display: flex;

    justify-content: center;

    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0%;
}

.aim,
.about,
.project {
    padding-left: 15vh;
    text-align: left;
}

.bigheading {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
    color: springgreen;
}

.desc {
    color: aliceblue;
    font-size: x-large;
}
/* content design ends */


/* yet to be designed */
.intro {}

.bg {}




